.icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.icon-container-check {
    position: absolute;
    left: 12px;
}

.icon-container-delete {
    position: absolute;
    top: -24px;
    right: 0;
}

.icon-svg {
    fill: white;
    width: 24px;
    height: 24px;
    transition: fill .15s;
}

.icon-container:hover .icon-svg-delete {
    fill: red;
}